.homeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

.aboutContainer {
  background-color: #edc7b7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.icons {
  width: 58px;
  height: 58px;
}

.experienceContainer {
  background-color: #eee2dc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experienceContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.experienceIcon {
  margin-left: 20px;
}

.projectContainer {
  background-color: #bab2b5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.projectIcon {
  margin-left: 15px;
}

.loveContainer {
  background-color: #123c69;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loveContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.loveIcon {
  margin-left: -7px;
}

.miscContainer {
  background-color: #ac3b61;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miscContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.miscIcon {
  margin-left: -10px;
}

.contactContainer {
  background-color: #c2dace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.contactIcon {
  margin-left: 10px;
}